
{% extends 'app/base.html' %}

{% load staticfiles %}

{% block title %}{{ article_title }} | {{ category_name }}{% endblock %}

{% block lefter_block %}
<h3>{{ category_name }}</h3>

<h1>{{ article_title }}</h1>

<div id="content">
				
	<p style = "font-family: Arial, Helvetica, sans-serif;">{{ article_content|linebreaks }}</p>
                
</div>
  {% if other_articles %}
  {% for art in other_articles %}
    <ul>
     <strong> <a href = "/category/{{art.category.slug}}/{{art.slug}}/">{{art.title}}</a></strong>
      </ul>     
{% endfor %}

{% endif %}

{% endblock %}

{% block righter_block %}

{% for art in latest_cat %}
    <a href="/category/{{art.category.slug}}/{{art.slug}}/" class="thumbnail img-responsive" id = "thumb" style = "background: url('/media/{{art.image}}/');">
      
      <div class="caption">
        <p id = "thumbCat">{{art.category}}</p>
        <h3 id = "thumbTitle">{{art.title}}</h3> 
       </div>
        </a>   
      {% endfor %}

<div class="col-xs-12 col-sm-8 col-md-8">
<h1/> Latest NEWS
{% for art in latest %}
    <a href="/category/{{art.category.slug}}/{{art.slug}}/" class="thumbnail img-responsive" id = "thumb" style = "background: url('/media/{{art.image}}/');">
      
      <div class="caption">
        <p id = "thumbCat">{{art.category}}</p>
        <h3 id = "thumbTitle">{{art.title}}</h3> 
       </div>
        </a>   
      {% endfor %}
</div>
{% endblock %}